<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.elecmed.mapper.BreathingstopSnoreMapper">
    
    <resultMap type="BreathingstopSnore" id="BreathingstopSnoreResult">
        <result property="id"    column="id"    />
        <result property="alarmInfo"    column="alarm_info"    />
        <result property="time"    column="time"    />
        <result property="urgency"    column="urgency"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectBreathingstopSnoreVo">
        select id, alarm_info, time, urgency, update_by, update_time, create_by, create_time, user_id from breathingstop_snore
    </sql>

    <select id="selectBreathingstopSnoreList" parameterType="BreathingstopSnore" resultMap="BreathingstopSnoreResult">
        <include refid="selectBreathingstopSnoreVo"/>
        <where>  
            <if test="alarmInfo != null  and alarmInfo != ''"> and alarm_info = #{alarmInfo}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="urgency != null  and urgency != ''"> and urgency = #{urgency}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectBreathingstopSnoreById" parameterType="Long" resultMap="BreathingstopSnoreResult">
        <include refid="selectBreathingstopSnoreVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBreathingstopSnore" parameterType="BreathingstopSnore" useGeneratedKeys="true" keyProperty="id">
        insert into breathingstop_snore
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alarmInfo != null">alarm_info,</if>
            <if test="time != null">time,</if>
            <if test="urgency != null">urgency,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alarmInfo != null">#{alarmInfo},</if>
            <if test="time != null">#{time},</if>
            <if test="urgency != null">#{urgency},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateBreathingstopSnore" parameterType="BreathingstopSnore">
        update breathingstop_snore
        <trim prefix="SET" suffixOverrides=",">
            <if test="alarmInfo != null">alarm_info = #{alarmInfo},</if>
            <if test="time != null">time = #{time},</if>
            <if test="urgency != null">urgency = #{urgency},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBreathingstopSnoreById" parameterType="Long">
        delete from breathingstop_snore where id = #{id}
    </delete>

    <delete id="deleteBreathingstopSnoreByIds" parameterType="String">
        delete from breathingstop_snore where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>