<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.elecmed.mapper.SleepPostureMapper">
    
    <resultMap type="SleepPosture" id="SleepPostureResult">
        <result property="userId"    column="user_id"    />
        <result property="id"    column="id"    />
        <result property="posture"    column="posture"    />
        <result property="time"    column="time"    />
        <result property="lastingTime"    column="lasting_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSleepPostureVo">
        select user_id, id, posture, time, lasting_time, create_time, create_by, update_by, update_time from sleep_posture
    </sql>

    <select id="selectSleepPostureList" parameterType="SleepPosture" resultMap="SleepPostureResult">
        <include refid="selectSleepPostureVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="posture != null  and posture != ''"> and posture = #{posture}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="lastingTime != null  and lastingTime != ''"> and lasting_time = #{lastingTime}</if>
        </where>
    </select>
    
    <select id="selectSleepPostureById" parameterType="Long" resultMap="SleepPostureResult">
        <include refid="selectSleepPostureVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSleepPosture" parameterType="SleepPosture" useGeneratedKeys="true" keyProperty="id">
        insert into sleep_posture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="posture != null">posture,</if>
            <if test="time != null">time,</if>
            <if test="lastingTime != null">lasting_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="posture != null">#{posture},</if>
            <if test="time != null">#{time},</if>
            <if test="lastingTime != null">#{lastingTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSleepPosture" parameterType="SleepPosture">
        update sleep_posture
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="posture != null">posture = #{posture},</if>
            <if test="time != null">time = #{time},</if>
            <if test="lastingTime != null">lasting_time = #{lastingTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSleepPostureById" parameterType="Long">
        delete from sleep_posture where id = #{id}
    </delete>

    <delete id="deleteSleepPostureByIds" parameterType="String">
        delete from sleep_posture where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>